@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");

#header {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    color: #ff5050;
}

.nav a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.nav form {
    display: inline;
}

#container {

}