<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - GitLove</title>
    <link href="/static/css/css.css" rel="stylesheet">
</head>
<body>
    {% if success %}
        <div class="alert alert-success">
            <p>{{success}}</p>
        </div>
    {% endif %}
    <div id="header">
        <p>GitLove</p>
    </div>
    {% if login_status == True %}
        <div class="nav">
            <ul class="pull-right">
                <li>Hello {{ username }}!</li>
            </ul>
        </div>
    {% endif %}
    {% if login_status == False %}
        <div class="nav">
            <ul class="pull-right">
                <li>
                    <form action="{{ url_for('sign_in') }}" method="post">
                        <input type="submit" value="Sign in" class="btn btn-primary btn-lg">
                    </form>
                </li>
                <li>
                    <form action="{{ url_for('sign_up') }}" method="post">
                        <input type="submit" value="Sign up" class="btn btn-success btn-lg">
                    </form>
                </li>
            </ul>
        </div>
    {% endif %}
    <div id="container">
    </div>
</body>
</html>
