<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - GitLove</title>
    <link href="/static/css/css.css" rel="stylesheet">
</head>
<body>
    <div id="header">
        <p>GitLove</p>
    </div>
    <div id="container">
        <form action="{{ url_for('sign_in') }}" method="post">
            <input type="submit" value="Sign in" class="signIn">
        </form>
        <form action="{{ url_for('sign_up') }}" method="post">
            <input type="submit" value="Sign up" class="signUp">
        </form>
    </div>
</body>
</html>
