<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in - GitLove</title>
    <link href="/static/css/css.css" rel="stylesheet">
</head>
<body>
    <form class="form-container" action="login_action" method="post">
        <div class="form-title"><h2>Sign in</h2></div>
        <div class="form-title"></div>
        <input class="form-field" type="text" name="username" placeholder="Username" /><br />
        <div class="form-title"></div>
        <input class="form-field" type="password" name="password" placeholder="Password" /><br />
        <div class="submit-container">
        <input class="submit-button" type="submit" value="Submit" />
        </div>
    </form>
</body>
</html>