<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in - GitLove</title>
    <link href="/static/css/css.css" rel="stylesheet">
</head>
<body>
    <form class="form-horizontal" action="login" method="post">
        <fieldset>
            <legend>Sign in</legend>
            <div class="form-group">
              <div class="col-md-4">
                  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required="">
                  <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
                  <input type="submit" id="submit" name="submit" value="Sign in" class="btn btn-primary">
              </div>
            </div>
        </fieldset>
    </form>
    {% if error %}
        <div class="alert alert-danger">
            <p>{{error}}</p>
        </div>
    {% endif %}
</body>
</html>