<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up - GitLove</title>
    <link href="/static/css/css.css" rel="stylesheet">
</head>
<body>
    <form class="form-horizontal" action="sign_up_action" method="post">
        <fieldset>
            <legend>Sign up</legend>
            <div class="form-group"> 
              <div class="col-md-4">
                  <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required="">
                  <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                  <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
                  <input id="confirm_password" name="confirm_password" type="password" placeholder="Confrim Password" class="form-control input-md" required="">
                  <input type="submit" id="submit" name="submit" value="Sign up" class="btn btn-primary">
              </div>
            </div>
        </fieldset>
    </form>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
</body>
</html>